body {
  margin: 0;
  background-color: hsl(0, 82%, 96%);
}
.wrapper {
  width: 100%;
  height: 680px;
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* Flexbox Layout */
.container {
  position: absolute;
  width: 1142px;
  height: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 15px hsl(0, 43%, 69%);
}

/* Flexbox Item */
.item-1 {
  flex-basis: 50%;
  color: white;
  box-sizing: border-box;
  padding: 220px 0px 0px 130px;
  
}
.item-2 {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 70px 20px;
}

/* Heading & Body */
.item-1 h1 {
  font-size: 40px;
  line-height: 45px;
}
.item-1 p {
  font-size: 13px;
  line-height: 20px;
}

/* Top Banner */
.try {
  width: 432px;
  height: 48px;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 7px rgba(91, 91, 91, 0.36);
}
.try span {
  font-weight: 600;
}

/* Form Box */
#form {
  width: 432px;
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 7px rgba(91, 91, 91, 0.36);
}
#form div {
  position: relative;
  margin-bottom: 15px;
}

/* Error Icon */
.error {
  position: absolute;
  top: 12px;
  right: 5%;
  width: 18px;
}

/* Input */
.input {
  display: inline;
  width: 368px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0px 50px 0px 25px;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
.input::placeholder {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.input:focus {
  outline: 1px solid hsl(248, 32%, 49%);
}

/* Submit Button*/
#btn {
  width: 368px;
  height: 44px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0px 4px hsl(154, 58%, 44%);
}
#btn:hover {
  cursor: pointer;
  background-color: hsl(154, 67%, 72%);
}

/* Term */
#form .term {
  width: 368px;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  color: #ccc;
  text-align: center;
}
#form .term span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

/* Error Message */
.msg {
  display: block;
  width: 368px;
  font-size: 10px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  text-align: right;
}

/* Hidden */
.hidden {
  display: none;
}

@media (max-width: 820px) {
  .wrapper {
    width: 100%;
    height: 1040px;
  }
  
  /* Flexbox Layout */
  .container {
    position: absolute;
    width: 375px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/bg-intro-mobile.png);
    flex-direction: column;
  }

  /* Flexbox Item */
.item-1 {
  flex-basis: 30%;
  color: white;
  box-sizing: border-box;
  padding: 70px 30px 0px;
  
}
.item-2 {
  flex-basis: 70%;
  box-sizing: border-box;
  padding: 50px 20px;
}

/* Heading & Body */
.item-1 h1 {
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}
.item-1 p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

/* Top Banner */
.try {
  width: 330px;
  height: 90px;
  font-size: 16px;
  font-weight: 300;
  padding: 20px 70px;
}

/* Form Box */
#form {
  width: 330px;
  padding: 25px;
}
#form div {
  position: relative;
  width: 280px;
  height: 75px;
  margin-bottom: 0;
}

/* Error Icon */
.error {
  position: absolute;
  top: 18px;
  right: 7%;
  width: 20px;
}

/* Input */
.input {
  display: inline;
  width: 280px;
  height: 55px;
  padding: 0px 50px 0px 20px;
  font-size: 15px;
}
.input::placeholder {
  font-size: 15px;
}
.input:focus {
  outline: 1px solid hsl(248, 32%, 49%);
}

/* Submit Button*/
#btn {
  width: 280px;
  height: 55px;
  font-size: 15px;
}

/* Term */
#form .term {
  width: 250px;
  height: 35px;
  font-size: 11px;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 0;
}

/* Error Message */
.msg {
  display: block;
  width: 280px;
  font-size: 10px;
  font-style: italic;
  text-align: left;
  margin-left: 10px;
}
}